In [5]:
import pandas as pd
import re

In [3]:
# Revisar http://files.grouplens.org/datasets/movielens/ml-latest-README.html

In [4]:
movies = pd.read_csv("movies.csv",index_col=0)
ratings = pd.read_csv("ratings.csv")
ratings=ratings.rename(columns={'timestamp':'TimeRating'})
#links = pd.read_csv("links.csv")#imbdld es tag tmbdld es tiemstamp, tiempo que lo vio
#genome_scores=pd.read_csv("genome-scores.csv")
#tags = pd.read_csv("tags.csv")
#tags=tags.rename(columns={'timestamp':'TimeTag'})
#genome_tags=pd.read_csv("genome-tags.csv",index_col=0)

In [56]:
def Año(txt): 
    x=re.findall(r"[(]\d+[)]", txt)
    if len(x)>=1:
        return int(x[-1][1:5])
    else:
        return None

movies['year']=movies['title'].apply(Año)
movies['year'].unique()

C:\Users\jplop\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

array([1995, 1994, 1996, 1976, 1992, 1988, 1967, 1993, 1964, 1977, 1965,
       1982, 1985, 1990, 1991, 1989, 1937, 1940, 1969, 1981, 1973, 1970,
       1960, 1955, 1959, 1968, 1980, 1975, 1986, 1948, 1943, 1950, 1946,
       1987, 1997, 1974, 1956, 1958, 1949, 1972, 1998, 1933, 1952, 1951,
       1957, 1961, 1954, 1934, 1944, 1963, 1942, 1941, 1953, 1939, 1947,
       1945, 1938, 1935, 1936, 1926, 1932, 1979, 1971, 1978, 1966, 1962,
       1983, 1984, 1931, 1922, 1999, 1927, 1929, 1930, 1928, 1925, 1914,
       2000, 1919, 1923, 1920, 1918, 1921, 2001, 1924, 2002, 2003, 1915,
       2004, 1916, 1917, 2005, 2006, 1902, 1903, 2007, 2008, 2009, 1912,
       2010, 1913, 2011, 1898, 1899, 1894, 2012, 1909, 1910, 1901, 1893,
       2013, 1896, 2014, 2015, 1895, 1911, 1900, 2016, 2017, 2018, 1905,
       1904, 1891, 1892, 1908, 1897, 1887, 1888, 1890, 1878, 1874, 1907,
       1906, 1883], dtype=int64)

In [49]:
movies

,title,genres,year
movieId,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0
2,Jumanji (1995),Adventure|Children|Fantasy,1995.0
3,Grumpier Old Men (1995),Comedy|Romance,1995.0
4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995.0
5,Father of the Bride Part II (1995),Comedy,1995.0
...,...,...,...
193876,The Great Glinka (1946),(no genres listed),1946.0
193878,Les tribulations d'une caissière (2011),Comedy,2011.0
193880,Her Name Was Mumu (2016),Drama,2016.0
193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi,2017.0
193886,Leal (2018),Action|Crime|Drama,2018.0

In [52]:
movies=movies[movies['year']>0]
movies

,title,genres,year
movieId,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0
2,Jumanji (1995),Adventure|Children|Fantasy,1995.0
3,Grumpier Old Men (1995),Comedy|Romance,1995.0
4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995.0
5,Father of the Bride Part II (1995),Comedy,1995.0
...,...,...,...
193876,The Great Glinka (1946),(no genres listed),1946.0
193878,Les tribulations d'une caissière (2011),Comedy,2011.0
193880,Her Name Was Mumu (2016),Drama,2016.0
193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi,2017.0
193886,Leal (2018),Action|Crime|Drama,2018.0

In [4]:
movies['Genre'] = movies['genres'].apply(lambda x: x.split('|'))
movies['year'] =movies['title'].str.extract('.*\((.*)\).*',expand = False)
lista=[]
for a in movies['Genre']:
  lista=lista+a
generos=list(set(lista))
for b in generos:
  movies[b]=0
  for a in movies.index:
    if b in movies['Genre'][a]:
      movies[b][a]=1
movies.drop(['Genre','genres'],axis=1,inplace=True)
movies.head()

C:\Users\jplop\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [5]:
df=pd.merge(pd.merge(movies,ratings,how='inner',on='movieId'),tags,how='left',on=['movieId','userId'])
df.head()

,movieId,title,genres,Genre,year,Drama,Romance,Documentary,Action,Comedy,...,Children,Thriller,Western,Crime,Film-Noir,userId,rating,TimeRating,tag,TimeTag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,0,0,0,0,1,...,1,0,0,0,0,4,4.0,1113765937,NaN,NaN
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,0,0,0,0,1,...,1,0,0,0,0,10,5.0,948885850,NaN,NaN
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,0,0,0,0,1,...,1,0,0,0,0,14,4.5,1442169375,NaN,NaN
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,0,0,0,0,1,...,1,0,0,0,0,15,4.0,1370810063,NaN,NaN
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,0,0,0,0,1,...,1,0,0,0,0,22,4.0,1237622631,NaN,NaN

In [6]:
df2=pd.merge(genome_scores,genome_tags,how='inner',on='tagId')
df2.head()

   movieId  tagId  relevance  tag
0        1      1    0.02900  007
1        2      1    0.03625  007
2        3      1    0.04150  007
3        4      1    0.03350  007
4        5      1    0.04050  007

In [8]:
MoviesPredict=pd.merge(df2,df,how='right',on=['movieId','tag'])
MoviesPredict.head()

MemoryError:

In [ ]:
MoviesPredict.count()

In [ ]:
MoviesPredict['title'].unique()

similitud del coseno
als
2 más
Pyspark ALS**
pyspark --> ALS UNO SI O SI
CREAR METRICAS PARA COMPARAR RECOMENDACIONES
intento + intento de mejora (modificart hiperparametros, cambiar metricas, etc.)
Se puede exporrtar los modelos a archivos, asi despues le hago pruebas
https://cloud.google.com/ai-platform/prediction/docs/exporting-for-prediction

In [29]:
RatUser=ratings.groupby(by='userId').mean()['rating'].sort_values(ascending=True)
RatUser.head()

userId
246381    0.5
117977    0.5
163134    0.5
61279     0.5
280246    0.5
Name: rating, dtype: float64

In [11]:
ratings

          userId  movieId  rating  TimeRating
0              1      307     3.5  1256677221
1              1      481     3.5  1256677456
2              1     1091     1.5  1256677471
3              1     1257     4.5  1256677460
4              1     1449     4.5  1256677264
...          ...      ...     ...         ...
27753439  283228     8542     4.5  1379882795
27753440  283228     8712     4.5  1379882751
27753441  283228    34405     4.5  1379882889
27753442  283228    44761     4.5  1354159524
27753443  283228    54286     4.5  1354159718

[27753444 rows x 4 columns]